$bp-phone: 460px;
$bp-phone-lg: 640px;
$bp-tablet: 768px;
$bp-tablet-lg: 820px;
$bp-desktop: 900px;
$bp-desktop-md: 1000px;
$bp-desktop-lg: 1024px;
$bp-wide: 1355px;

$breakpoint-small: $bp-phone-lg;
$breakpoint-medium: $bp-desktop;
$breakpoint-large: 1200px;
$breakpoint-mobile: 480px;
$breakpoint-xlarge: 1440px;

$bp-text-lg: 913px;
$bp-padding-lg: 1001px;
$bp-text-max: 912px;
$bp-menu-desktop: $bp-desktop-lg;
$bp-menu-mobile-max: 1023px;

@mixin max-width($width) {
  @media screen and (max-width: $width) {
    @content;
  }
}

@mixin min-width($width) {
  @media screen and (min-width: $width) {
    @content;
  }
}

@mixin between($min, $max) {
  @media screen and (min-width: $min) and (max-width: $max) {
    @content;
  }
}
