@use '../../styles/variables' as *;

.multiDropdown {
  $self: &;

  position: relative;
  width: 100%;

  &__options {
    z-index: 5;
    position: absolute;
    left: 0;
    width: 100%;
    top: calc(100% + #{$space-xxs});
    background-color: $color-dropdown-options-bg;
    box-shadow: $shadow;
    border-radius: $border-radius;
  }

  &__closeBtn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
    border: none;
    background: none;
    cursor: pointer;
    color: inherit;

    &:hover {
      opacity: 0.8;
    }
  }

  &__option {
    cursor: pointer;
    padding: $space-s $space-xs;
    color: $text-color-primary;
    display: flex;
    width: 100%;
    appearance: none;
    border: none;
    outline: none;
    background: none;

    &:hover {
      color: $text-color-secondary;
    }

    &_selected {
      color: $text-color-accent;
    }
  }
}
