@use '../../styles/variables' as *;

.multiDropdown {
  $self: &;

  position: relative;
  width: 100%;

  &__options {
    z-index: 5;
    position: absolute;
    left: 0;
    width: 100%;
    top: calc(100% + #{$space-xxs});
    background-color: $color-dropdown-options-bg;
    box-shadow: $shadow;
    border-radius: $border-radius;
  }

  &__closeBtn {
    min-height: auto;
    padding: 0;
    margin: 0;

    &:hover {
      opacity: 0.8;
    }
  }

  &__option {
    min-height: auto;
    padding: $space-s $space-xs;
    justify-content: flex-start;

    &:hover {
      color: $text-color-secondary;
    }

    &_selected {
      color: $text-color-accent;
    }
  }
}
